// 此變數為框架之整體變數，控制整體網站之設定，包含 顏色、文字、格線系統
// 於mixins 資料夾內，各個模組也有其個別使用的變數，請至個別檔案設定，個別使用變數不含在此設定
//---------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
$primaryColor: #1e554f; //主色
$secondaryColor: #978045; //輔色
$lightColor: #978045; //點綴
$linkColor: #d6c18a; //連結
$importantColor: #eb0202; //重要
// 但注意真實顏色與語意的關聯必須易於辨識
$color-blue: #0066cc;
$color-green: #298729;
$color-orange: #b45f41;
$color-red: #d30000;
$color-yellow: #fff159;
$color-purple: #781f79;
$color-gray: #9a9a9a;
$color-dark: #313131;
$color-hr: #828282; //hr顏色
$color-word: #2e2e2e; //一般字的顏色
$btn-word: #222; //按鈕字的顏色
// 連結顏色
$aColor: $primaryColor;
$aHover: $secondaryColor;
$aFocus: $lightColor;
$aCutover: #b9b7ab; //切換按鈕
// 表單focus顏色
$form-focus: $lightColor; //表單
$form-btn: $lightColor; //表單
//------------------------------------------------------字型--------//
// 字型設定
$fontFamily: 'Ysabeau Infant', 'Helvetica Neue', Helvetica, 微軟正黑體, Arial, sans-serif;
$font-size: 1em;
// 首頁title字型設定
$fontFamilymptitle: 'Noto Serif TC', serif;
$fontmptitleSize: 2.375rem;
//
//------------------------------------------------------格線系統-----//
// 格線系統
$grid-columns: 12 !default; //格線欄位數
$grid-gutter-width: 80px !default; //左右padding
$container-max: 1200px !default; //container最大寬
//mediaquery
$screen-lg: 1400px !default; //電腦
$screen-md: 992px !default; //平板
$screen-sm: 768px !default; //手機
$screen-xs: 576px !default; //極小尺寸 - hyui
$screen-xs-flex: 320px !default; //極小尺寸 - flex
//-------------------------------------------------------客製化------//
$fatfooterBgColor: #f1f1f1; //fatFooter 底色
//--------------------------------------------------------客製化------//
$rounded-angle: 10px; //整站導角
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99); //動態預設
