.pagination {
  margin: 0.5em auto 1em;
  padding: 0;
  display: block;
  text-align: center;
  @extend %clearfix; // outline: 1px solid red;
  .form_inline {
    justify-content: center;
  }
  span {
    color: $primaryColor;
    margin: 0px 0.5em;
    font-size: 1.25rem;
  }
  .page {
    margin: 10px 0 10px 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin: 2px;
      list-style: none;
      box-sizing: border-box;
      a {
        min-width: 40px;
        height: 40px;
        border-radius: 2px;
        padding: 6px 10px;
        font-weight: 700;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        color: $color-word;
        background: #fff;
        border: #e3e0db solid 1px;
        margin: 0 0.1em 0.25em;
        &:hover,
        &:focus-visible {
          background: $primaryColor;
          color: #fff;
          border: $primaryColor solid 1px;
        }
      }
      &.active {
        a {
          color: #fff;
          background: $primaryColor;
          border: darken($primaryColor, 5) solid 1px;
        }
      }
      %arrow {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 6px;
        height: 6px;
        margin-top: -4px;
        border: 2px solid #383838;
        border-left: none;
        border-bottom: none;
      }

      &.prev,
      &.next {
        a {
          text-indent: -9999px;
          position: relative;

          &:hover,
          &:focus-visible {
            &:before,
            &:after {
              border: 2px solid #fff;
              border-left: none;
              border-bottom: none;
            }
          }
        }
      }
      &.first,
      &.last {
        a {
          text-indent: -9999px;
          position: relative;

          &:hover,
          &:focus-visible {
            &:before,
            &:after {
              border: 2px solid #fff;
              border-left: none;
              border-bottom: none;
            }
            &:before {
              border-top: none;
            }
          }
        }
      }
      &.first {
        a:before {
          @extend %arrow;
          margin-left: -6px;
          transform: rotate(180deg);
          border-top: none;
          width: 12px;
          height: 13px;
          top: 44%;
        }
        a:after {
          @extend %arrow;
          margin-left: 0px;
          transform: rotate(-135deg);
        }
      }
      &.prev {
        a:before {
          @extend %arrow;
          margin-left: -2px;
          transform: rotate(-135deg);
        }
      }
      &.next {
        a:before {
          @extend %arrow;
          margin-left: -6px;
          transform: rotate(45deg);
        }
      }
      &.last {
        a:before {
          @extend %arrow;
          margin-left: 3px;
          transform: rotate(180deg);
          border-top: none;
          width: 12px;
          height: 13px;
          top: 44%;
        }
        a:after {
          @extend %arrow;
          margin-left: -9px;
          transform: rotate(45deg);
        }
      }
    }
  }
  .total {
    padding: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    @include screen('notebook') {
      flex-wrap: wrap;
    }
    .select_all {
      display: flex;
      justify-content: center;
      @include screen('tablet') {
        flex: 0 0 auto;
        flex-basis: 100%;
      }
      @include screen('xs_mobile') {
        flex-wrap: wrap;
      }
      label {
        vertical-align: middle;
        margin: 0;
        flex: 0 1 auto;
        display: flex;
        align-items: center;

        & ~ input,
        & ~ textarea {
          width: auto;
          vertical-align: middle;
        }
      }
    }
    select {
      margin: 0px 0.5em;
      height: 40px;
      width: auto;
      border: #e3e0db solid 1px;
      border-radius: 2px;
      @include screen('xs_mobile') {
        margin: 0 0 6px 5px;
      }
    }
    .btn {
      min-width: auto;
      padding: 0.4em 1em;
      &.btnSubmit {
        margin-left: 10px;
      }
    }
  }
  .items {
    display: inline-block;
    vertical-align: middle;

    a {
      padding: 0 5px;
      color: $primaryColor;
      text-decoration: none;
    }
  }
}
@include screen('mobile') {
  .pagination .total select.form-control {
    margin: 0px 0px;
    text-align: center;
  }
}
